@mixin button_config() {
    width: 16vw;
    min-width: 80px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

@mixin form_config() {
    h2 {
        min-width: 80px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    form {
        text-align: center;

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input {
            min-width: 160px;
            width: 20vw;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: #f0f0f0;

            &:focus {
                outline: none;
                border-color: #007bff;
            }
        }

        button {
            @include button_config;
            transition: background-color 0.3s;
            margin: 30px auto;
        }
    }
}

@mixin center_config() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-login {
    background-color: #8885b1;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;

    .single-player-button {
        @include button_config;
        margin-right: 8vw;
    }
    
    .multiplayer-button {
        @include button_config;
        margin-left: 8vw;
    }
    

    .app-login-box-slide-right{
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        min-width: 200px;
        width: 32vw;
        padding-top: 8vh;
        padding-bottom: 8vh;
        background-color: #fff;
        border-radius: 10px; 

        animation-name: slideInRight;
        animation-duration: 1s; /* Adjust the duration as needed */
        animation-timing-function: ease;
        animation-fill-mode: both;

        @include form_config;

        @keyframes slideInRight {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0);
            }
        }
    }

    .app-login-box-slide-left{
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        width: 32vw;
        min-width: 200px;
        padding-top: 8vh;
        padding-bottom: 8vh;
        background-color: #fff;
        border-radius: 10px; 

        animation-name: slideInLeft;
        animation-duration: 1s; /* Adjust the duration as needed */
        animation-timing-function: ease;
        animation-fill-mode: both;

        @include form_config;

        @keyframes slideInLeft {
            from {
                transform: translateX(-60%);
            }
            to {
                transform: translateX(20%);
            }
        }
    }

}


